/* Kleuren
    Zalm roze: FFADAD
    Oranje: FFD6A5
    Geel: FDFFB6
    Groen: CAFFBF
    Blauw: 9BF6FF
    Ash: A0C4FF
    Lavendel: BDB2FF
    Roze: FFC6FF
    Wit: FFFFFC

    Logo Kleuren
    Oranje: ffa000
    Geel: ffe082
    Rood: #FF0000
    Grijs: #212529 */

body {
    margin: 0;
    font-family: Arial;
}

a {
    text-decoration: none;
}

/* Nav */
.header {
    padding: 5px;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #cbf2ff;
    z-index: 10;
}

.header .logo {
    width: 390px;
}

.header .logo .logo-img{
    margin: 0 5px;
    width: 100px;
    height: auto;
}

.nav-md,
.nav-sm{
    position: absolute;
    display: flex;
    top: 0;
    right: 50px;
}

.nav-md .menu-nav,
.nav-sm .menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    padding: 0 1rem 1rem 1rem;

    margin-top: 0;
    line-height: 75px;
}

.nav-md .menu-nav__item,
.nav-sm .menu-nav__item {
    display: inline-block;
    text-decoration: none;
    font-size: 10px;
    padding: 0 1rem;
}

.nav-md .menu-nav__item a,
.nav-sm .menu-nav__item a{
    text-align: center;
    color: #212529;
}

.nav-md .menu-nav__item a:hover{
    color: #FF0000;
    text-decoration: none;
}

.nav-md .menu-nav__item.active > a,
.nav-sm .menu-nav__item.active > a{
    color: #5487cc;
}

.nav-md .menu-nav__link,
.nav-sm .menu-nav__link {
    font-size: 1.2rem;
}


.instellingen *{
    box-sizing: border-box;
}

.instellingen{
    position: absolute;
    top: 13px;
    right: 0;
    width: 50px;
    height: auto;
    border-radius: 5px;
    margin: 10px;
    z-index: 10;
}

.instellingen h1{
    margin: 0;
    text-align: center;
    font-weight: 400;
    color: #F0F0F0;
    transition: all 250ms;
    vertical-align: top;
}

.instellingen .tekst{
    position: relative;
    width: 150px;
    margin: 0 0 0 -100px;
    height: 0;
    overflow: hidden;
    transition: all 250ms;

    border-radius: 10px;
    padding-top: 5px;
    line-height: 14px;
}

.instellingen:hover .tekst{
    background: #F0F0F0;
    height: 180px;
}

.instellingen .tekst p{
    margin: 0;
    color: #1B2024;
    padding: 5px;
    font-style: italic;
    text-align: right;
    transform: translateY(-100%);
    opacity: 0;
}

.instellingen .tekst #pasaan{
    text-align: left;
}
#pasaan{
    border: none;
    padding-left: 5px;
}

.instellingen:hover .tekst p{
    transition: all 600ms;
    transform: translateY(0%);
    opacity: 1;
}

.instellingen .tekst i{
    font-size: 20px;
}

#instelling .input:disabled{
    text-align: right;
}

.instellingen .input{
    width: 100px;
    text-align: right;
}

#bevestiging {
    display: none;
    float: right;
}

@media (max-width: 992px){
    .nav-sm{
        visibility: visible;
    }

    .nav-md{
        visibility: hidden;
    }
}

@media (min-width: 993px) {
    .nav-sm{
        visibility: hidden;
    }

    .nav-md{
        visibility: visible;
    }
}
/* Nav */

/* Index */
.ITPTaken{
    border: 1px solid black;
}

.ITPTaken .ITPTaakBox{
    border: 2px dotted red;
}

.ITPTaken .ITPTaakBox .ITPTaak{
    border: 1px solid blue;
}

/*Login*/

.container{
    max-width: 350px;
    min-height: 580px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.container .logo {
    width: 100px;
    margin: auto;
}

.container .logo img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5%;

}

.container .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}
.container .bericht {
    font-weight: 600;
    font-size: 1rem;
    letter-spacing: 0.6px;
    padding-left: 10px;
    color: red;
    margin-bottom: 10px;
}

.container .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #666;
    padding: 10px 15px 10px 10px;
    text-align: left;
}

.container .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.container .form-field .fas {
    color: #555;
}

.container .btn {
    width: 100%;
    background-color: #03A9F4;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
    -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.container .btn:hover {
    background-color: #039BE5;
}


@media(max-width: 380px) {
    .container {
        margin: 30px 20px;
        padding: 40px 15px 15px 15px;
    }
}


/*Dagenpagina*/

.dag{
    padding: 10px;
}
.postIt h2, .postIt .taakTitel{
    font-weight: bold;
    font-size: 1.6rem;
    text-align: center;
}

.postIt p {
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;
}

.postIt #omschrijving{
    height: 50px;
}

.postIt a{
    text-decoration: none;
    color: black;
}

.postIt .tijd {
    text-align: left;
    margin: 0;
}

.postIt .pasaan{
    text-align: right;
    font-size: 1.5rem;
    margin-bottom: 0;
}

.postIt .tijdInput{
    width: 80px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
}

.postIt .taakTitel{
    width: 100%;
    font-size: 2.2rem;
    margin: 10px 0;
}

.postIt input{
    /*border: 0.5px dashed black;*/
    border: none;
    background: none;
}

.postIt .omschrijvingInput{
    text-align: center;
    font-size: 1.6rem;
    font-weight: normal;
    margin: 10px 0;
    width: 100%;
}

.postIt .btn{
    border: 1px solid black;
    color: black;
    background: white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
    width: 100%;
}

.dagen ul,li{
    list-style:none;
}

.dagen ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.dagen ul li .postIt{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:12em;
    width:12em;
    padding:1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dagen ul li{
    margin:1em;
}

.dagen ul li .formPost{
    height:18em;
    width:18em;
}

/*zoekbalk*/
#zoek #naam, #zoek #naamID, #zoek #dagID{
    display: none;
}

#zoek{
    position: absolute;
    right: .5em;
    top: 9em;
    width: 25%;
}


#zoek input {
    color: #17181c;
    font: 1em/1.5 Hind, sans-serif;
}

#zoek form,
#zoek input,
#zoek .caret {
    margin: auto;
}

#zoek form {
    position: relative;
    width: 100%;
    max-width: 17em;
}

#zoek input,
#zoek .caret {
    display: block;
    transition: all calc(1s * 0.5) linear;
}

#zoek input {
    background: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 0.25em inset;
    width: 2em;
    height: 2em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#zoek input:focus,
#zoek input:valid {
    background: #ffffff;
    border-radius: 0.25em;
    box-shadow: none;
    padding: 0.75em 1em;
    transition-duration: calc(1s * 0.25);
    transition-delay: calc(1s * 0.25);
    width: 100%;
    height: 3em;
}

#zoek input:focus {
    animation: showCaret 1s steps(1);
    outline: transparent;
}

#zoek input:focus + .caret,
#zoek input:valid + .caret {
    background: transparent;
    width: 1px;
    height: 1.5em;
    /*grote scherm*/
    animation: handleToCaret 1s linear;
    transform: translate(0, -1em) rotate(-180deg) translate(15em, -0.25em);

    /*Kleine scherm*/
    /*transform: translate(0, -1em) rotate(-180deg) translate(5.5em, -0.25em);*/
    /*animation: handleToCaret 0.8s linear;*/
}
#zoek input::-webkit-search-decoration {
    -webkit-appearance: none;
}
#zoek label {
    color: #e3e4e8;
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
}
#zoek .caret {
    background: currentColor;
    border-radius: 0 0 0.125em 0.125em;
    margin-bottom: -0.6em;
    width: 0.25em;
    height: 1em;
    transform: translate(0, -1em) rotate(-45deg) translate(0, 0.875em);
    transform-origin: 50% 0;
}



/* Animations */
@keyframes showCaret {
    from {
        caret-color: transparent;
    }
    to {
        caret-color: black;
    }
}
@keyframes handleToCaret {
    from {
        background: currentColor;
        width: 0.25em;
        height: 1em;
        transform: translate(0, -1em) rotate(-45deg) translate(0, 1em);
    }
}


/*Kleuren voor de post-its*/
.lichtRood{
    background-color: lightcoral;
}
.lichtGeel{
    background-color: lightyellow;
}
.lichtBlauw{
    background-color: lightblue;
}
.lichtGroen{
    background-color: lightgreen;
}

.kleur{
    margin: 10px;
    display: flex;
    justify-items: center;
    float: right;

}
.kleur label{
    margin: 2px;
}
.knop{
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
input[type=radio]{
    width: 30px;
    height: 30px;
}
input[type=radio] + label{
    border: 1px solid black;
    display: block;
}
input[type=radio]:checked + label{
    border: 1px solid blue;
}
