/* Kleuren
    Zalm roze: FFADAD
    Oranje: FFD6A5
    Geel: FDFFB6
    Groen: CAFFBF
    Blauw: 9BF6FF
    Ash: A0C4FF
    Lavendel: BDB2FF
    Roze: FFC6FF
    Wit: FFFFFC

    Logo Kleuren
    Oranje: ffa000
    Geel: ffe082
    Rood: #FF0000
    Grijs: #212529 */

body {
    margin: 0;
    font-family: Arial;
}

a {
    text-decoration: none;
}

/* Nav */
header {
    padding: 5px;
    overflow: hidden;
    position: sticky;
    top: 0;
    background-color: #cbf2ff;
}

header .logo {
    width: 390px;
}

.logo .logo-img{
    margin: 0 5px;
    width: 100px;
    height: auto;
}

.nav {
    position: absolute;
    top: 0;
    right: 0;
}

.nav .menu-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    list-style-type: none;
    padding: 0 1rem 1rem 1rem;

    margin-top: 0;
    line-height: 75px;
}

.nav .menu-nav__item {
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    padding: 0 1rem 0 0;
}

.nav .menu-nav__item a{
    text-align: center;
    color: #212529;
}

.nav .menu-nav__item a:hover {
    color: #FF0000;
    text-decoration: none;
}

.nav .menu-nav__item.active > a {
    color: #5487cc;
}

.nav .menu-nav__link {
    font-size: 1.2rem;
}